<div class="container">
  <div class="jumbotron">
    <h1>Expocasa Junio 2017</h1>
  </div>
</div>

<div class="panel panel-default container">
  <div class="panel-body">
    <div id="surveyContainer"></div>
    <div id="surveyResult"></div>
  </div>
</div>

<script type="text/javascript">
function sendDataToServer(survey) {
  var resultAsString = JSON.stringify(survey.data);
  document.querySelector('#surveyResult').innerHTML = "result: " + JSON.stringify(survey.data);
  alert(resultAsString); //send Ajax request to your web server.
}
</script>
