<div id="surveyContainer"></div>

<script type="text/javascript">
function sendDataToServer(survey) {
  var resultAsString = JSON.stringify(survey.data);
  alert(resultAsString); //send Ajax request to your web server.
}
</script>
